<!doctype html>
{% extends 'taskbar.html' %}
{% load static %}
<html lang="en">
{% block content %}

    <head>
        <meta charset="utf-8">
        <title>Home Screen</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}?v=1.0">

    </head>

    <body>
        <!-- <h1>Sixerr.</h1> -->
        <img src="{% static 'fullLogoWhite3.png' %}" alt="logo" class="fulllogo">

        <form method="get">
            <div class="search-container">
                <input type="text" class="search-input" name="skill_search" placeholder="Search a Skill" value="{{ request.GET.skill_search }}">
                <button class="search-button">
                    <img src="{% static 'search-icon.png' %}" alt="Search" class="searchlogo">
                </button>
            </div>
        </form>
        
        <h2 class="my-heading">Popular Skills</h2>
        
        <div class="slide-container">
            {% for s in skills %}
                <div class="slide-item">
                    <a href="{% url 'mentor_list' s.skill_name %}"><img src="{{ s.image.url }}" alt="{{ s.skill_name }}" /></a>
                    <p class="slide-label">{{ s.skill_name | title }}</p>
                </div>
                <!-- <p>{{ s.skill_name }}</p>
                <a href="{% url 'mentor_list' s.skill_name %}"><img src="{{ s.image.url }}" style="width:100px; height:100px;"></a> -->
            {% endfor %}
        </div>

        <!-- <div>
            {% for l in letters %}
                <p>
                    {{ l|title }}
                        {% for s in skillslist %}
                            {% if s.skill_name|slice:'1'|join:'' == l %}
                                <a href="{% url 'mentor_list' s.skill_name %}">{{ s.skill_name|title }}</a>
                            {% endif %}
                        {% endfor %}
                </p>    
            {% endfor %}
        </div> -->

        <form action="{% url 'skillslist' %}" class="login-form">
            <button class="submit-btn">See all skills</button>
        </form>

    </body>
{% endblock %}
</html>