<!doctype html>
{% extends 'taskbar.html' %}
{% load static %}
<html lang="en">
{% block content %}

    <head>
        <meta charset="utf-8">
        <title>Home Screen</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>

    <body>
        <h1>Welcome to Sixerr</h1>
        <div>You are a {{ user.role }}.</div>

        <form action="{% url 'logout_view' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="submit-btn">Logout</button>
        </form>

        {% for s in skills %}
            <p>{{ s.skill_name }}</p>
            <a href="{% url 'mentor_list' s.skill_name %}"><img src="{{ s.image.url }}" style="width:100px; height:100px;"></a>
        {% endfor %}

    </body>
{% endblock %}
</html>