<!doctype html>
{% extends 'taskbar.html' %}
{% load static %}
<html lang="en">
{% block content %}

    <head>
        <meta charset="utf-8">
        <title>Mentor List</title>
    </head>

    <body>
        <!--- Search bar to filter mentors by name within the selected skill --->
        <form method="get">
            <input type="text" name="mentor_search" placeholder="Search for a mentor..." value="{{ request.GET.mentor_search }}">
            <button type="submit">Search</button>
        </form>
    
        <hr>

        {% if skill %}
            <h2>{{ skill }}</h2>
            <img src="{{ skill.image.url }}" style="width:100px; height:100px;">
        {% endif %}


        <!--- Filter --->
        <form method="get" action="{% if skill and skill.skill_name %}{% url 'mentor_list' skill_name=skill.skill_name %}{% else %}{% url 'mentor_list' skill_name='default' %}{% endif %}">
            <input type="hidden" name="skill_name" value="{{ skill.skill_name|default_if_none:'' }}">
        
            <label for="popularity">Popularity </label>
            <select name="popularity_operator">
                <option value="gt">></option>
                <option value="lt"><</option>
            </select>
            <input type="number" name="popularity" step="1" min="0">
        
            <label for="rating">Rating </label>
            <select name="rating_operator">
                <option value="gt">></option>
                <option value="lt"><</option>
            </select>
            <input type="number" name="rating" step="0.1" min="0" max="5">
        
            <label for="hourly_rate">Hourly Rate </label>
            <select name="hourly_rate_operator">
                <option value="lt"><</option>
                <option value="gt">></option>
            </select>
            <input type="number" name="hourly_rate" step="0.01" min="0">
        
            <button type="submit">Filter</button>
        </form>



        <ul>
            {% if mentors %}
                {% for mentor in mentors %}
                    <li>{{ mentor.first_name }} {{ mentor.last_name }} - Popularity: {{ mentor.popularity }}, Rating: {{ mentor.rating }}, Hourly Rate: {{ mentor.hourly_rate }}</li>
                {% endfor %}
            {% else %}
                <li>{{ no_results_message }}</li>
            {% endif %}
        </ul>
    
    </body>

{% endblock %}