<!doctype html>
{% extends 'taskbar.html' %}
{% load static %}
<html lang="en">
{% block content %}

    <head>
        <meta charset="utf-8">
        <title>Mentor List</title>
        <link rel="stylesheet" href="{% static 'css/mentor_list.css' %}?v=.0">
    </head>

    <body>
        <!-- Title above the search bar -->
        <!-- <div class="mentor-title">
            <h2>List of Mentors for {% if skill %}{{ skill.skill_name }}{% else %}All Skills{% endif %}</h2>
        </div> -->

        <form method="get" class="search-container">
            <input type="text" class="search-input" name="mentor_search" placeholder="Search a Mentor" value="{{ request.GET.mentor_search }}">
            <!-- Keep filters on search -->
            <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
            <input type="hidden" name="order" value="{{ request.GET.order }}">
            <input type="hidden" name="popularity_operator" value="{{ request.GET.popularity_operator }}">
            <input type="hidden" name="popularity" value="{{ request.GET.popularity }}">
            <input type="hidden" name="rating_operator" value="{{ request.GET.rating_operator }}">
            <input type="hidden" name="rating" value="{{ request.GET.rating }}">
            <input type="hidden" name="hourly_rate_operator" value="{{ request.GET.hourly_rate_operator }}">
            <input type="hidden" name="hourly_rate" value="{{ request.GET.hourly_rate }}">
            <button type="submit" class="search-button">
                <img src="{% static 'search-icon.png' %}" alt="Search" class="searchlogo">
            </button>
        </form>
    

            <!-- Filters Form -->
        <form method="get" action="{% url 'mentor_list' skill_name=skill.skill_name|default:'default' %}">
            <!-- Keep other filters on filter submission -->
            <input type="hidden" name="mentor_search" value="{{ request.GET.mentor_search }}">
            <input type="hidden" name="sort_by" value="{{ request.GET.sort_by }}">
            <input type="hidden" name="order" value="{{ request.GET.order }}">

            <div class="filter-row">
                <!-- Popularity Filter -->
                <div class="filter-label">Popularity</div>
                <div class="filter-box">
                    <select name="popularity_operator" class="filter-operator">
                        <option value="gt" {% if request.GET.popularity_operator == "gt" %}selected{% endif %}>></option>
                        <option value="lt" {% if request.GET.popularity_operator == "lt" %}selected{% endif %}><</option>
                    </select>
                </div>
                <div class="filter-box">
                    <input type="number" name="popularity" step="1" min="0" class="filter-input" value="{{ request.GET.popularity }}">
                </div>

                <div class="filter-divider"></div>

                <!-- Rating Filter -->
                <div class="filter-label">Rating</div>
                <div class="filter-box">
                    <select name="rating_operator" class="filter-operator">
                        <option value="gt" {% if request.GET.rating_operator == "gt" %}selected{% endif %}>></option>
                        <option value="lt" {% if request.GET.rating_operator == "lt" %}selected{% endif %}><</option>
                    </select>
                </div>
                <div class="filter-box">
                    <input type="number" name="rating" step="0.1" min="0" max="5" class="filter-input" value="{{ request.GET.rating }}">
                </div>

                <div class="filter-divider"></div>

                <!-- Hourly Rate -->
                <div class="filter-label">Rates</div>
                <div class="filter-box">
                    <select name="hourly_rate_operator" class="filter-operator">
                        <option value="lt" {% if request.GET.hourly_rate_operator == "lt" %}selected{% endif %}><</option>
                        <option value="gt" {% if request.GET.hourly_rate_operator == "gt" %}selected{% endif %}>></option>
                    </select>
                </div>
                <div class="filter-box">
                    <input type="number" name="hourly_rate" step="0.01" min="0" class="filter-input" value="{{ request.GET.hourly_rate }}">
                </div>

                <button type="submit" class="filter-btn">
                    <img src="{% static 'filter-icon.png' %}" alt="Filter" class="filter-icon">
                </button>
            </div>
        </form>
        
        <!-- Results !-->
        <div style="display: flex; align-items: center; justify-content: space-between;">
            {% if skill %}
                <h2>Search results for "{{ skill }}"</h2>
            {% else %}
                <h2>All Mentors</h2>
            {% endif %}
            <p class="mentor-count">{{ mentors|length }} mentors found</p>
        </div>
        <hr class="mentor-divider">

        <!-- Sorting -->
        <form method="get" action="{% url 'mentor_list' skill_name=skill.skill_name|default:'default' %}">
            <!-- Keep filters in sort form -->
            <input type="hidden" name="mentor_search" value="{{ request.GET.mentor_search }}">
            <input type="hidden" name="popularity_operator" value="{{ request.GET.popularity_operator }}">
            <input type="hidden" name="popularity" value="{{ request.GET.popularity }}">
            <input type="hidden" name="rating_operator" value="{{ request.GET.rating_operator }}">
            <input type="hidden" name="rating" value="{{ request.GET.rating }}">
            <input type="hidden" name="hourly_rate_operator" value="{{ request.GET.hourly_rate_operator }}">
            <input type="hidden" name="hourly_rate" value="{{ request.GET.hourly_rate }}">

            <div class="sort-by-row">
                <div class="sort-by-label">Sort By</div>
                <div class="sort-by-box">
                    <select name="sort_by" class="sort-by-operator">
                        <option value="popularity" {% if request.GET.sort_by == "popularity" %}selected{% endif %}>Popularity</option>
                        <option value="rating" {% if request.GET.sort_by == "rating" %}selected{% endif %}>Rating</option>
                        <option value="hourly_rate" {% if request.GET.sort_by == "hourly_rate" %}selected{% endif %}>Rates</option>
                    </select>
                </div>

                <div class="sort-by-label">Order</div>
                <div class="sort-by-box">
                    <select name="order" class="sort-by-operator">
                        <option value="desc" {% if request.GET.order == "desc" or not request.GET.order %}selected{% endif %}>Descending</option>
                        <option value="asc" {% if request.GET.order == "asc" %}selected{% endif %}>Ascending</option>
                    </select>
                </div>

                <button type="submit" class="sort-btn">
                    <img src="{% static 'sort-icon.png' %}" alt="Sort" class="sort-icon">
                </button>
            </div>
        </form>

        <!-- <ul>
            {% if mentors %}
                {% for mentor in mentors %}
                    <li>{{ mentor.first_name }} {{ mentor.last_name }} - Popularity: {{ mentor.popularity }}, Rating: {{ mentor.rating }}, Hourly Rate: {{ mentor.hourly_rate }}</li>
                {% endfor %}
            {% else %}
                <li>{{ no_results_message }}</li>
            {% endif %}
        </ul> -->

        <div class="mentor-grid">
            {% if mentors %}
                {% for mentor in mentors %}
                    <a href="{% url 'mentor_profile' mentor.username %}">
                    <div class="mentor-card">
                        <img src="{{ mentor.image.url }}" alt="{{ mentor.first_name }}" class="mentor-img">
                        <div class="mentor-info">
                            <h4>{{ mentor.first_name|capfirst }} {{ mentor.last_name|capfirst }}</h4>
                            <p>Popularity: {{ mentor.popularity }}</p>
                            <p>Rating: {{ mentor.rating }}</p>
                            <p>Rates: ${{ mentor.hourly_rate }}/hr</p>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>{{ no_results_message }}</p>
            {% endif %}
        </div>
    
    </body>

{% endblock %}