<!doctype html>
{% if request.user.role == 'mentor' %}
    {% include 'mentor_taskbar.html' %}
{% else %}
    {% include 'taskbar.html' %}
{% endif %}
{% load static %}
<html lang="en">
{% block content %}
    <head>
        <meta charset="utf-8">
        <title>User Profile</title>
        <link rel="stylesheet" href="{% static 'css/profile.css' %}?v=6.0">
        <link rel="icon" type="image/png" href="{%  static 'logoIcon.ico' %}">
    </head>

    <body>
        <div class = "balance-column" style="align-items: flex-start;">
            <div class="balance-text">
                {% if request.user.username == user.username %}
                    <p>Account Balance</p>
                {% endif %}
            </div> 
            <div class="balance-amount">
                {% if request.user.username == user.username %}
                    <p>$ {{ user.balance }}</p>
                {% endif %}
            </div>    
        </div>
        
        <div class="profile-row">
            <div class="profile-column left">
                <img src="{{ user.image.url }}" style="width:130px; height:130px;" class="user-image">
            </div>
            <div class="profile-column right" style="align-items: flex-start;"> 
                <div class = "name-label">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class = "user-info">
                    <p>{{ user.role |capfirst}}</p>
                    <p>{{ user.email }}</p>
                </div>
                <div class = "user-date">
                    <img src="{% static 'calendar-logo.png' %}" alt="calendar-logo" class="calendar-logo" style="width:17px; height:17px;">
                    <span>Joined {{ user.date_joined|date:"F d, Y" }}</span>
                </div>
             
            </div>
        </div>
        {% if request.user.username == user.username %}
            <a href="{% url 'add_balance' user.username %}" class="balance-btn">Add Balance</a>
        {% endif %}  

        <hr class="divider">
        <div class = "center-wrapper">
            <div class="bio-column">
                <h1>Bio</h1>
                <p>{{ user.bio }}</p>
                {% if request.user.username == user.username %}
                    <a href="{% url 'edit_bio' user.username %}" class="edit-btn">Edit Bio</a>
                    <!-- <a href="{% url 'add_balance' user.username %}" class="edit-btn">Add Balance</a> -->
                {% endif %}
            </div>
        </div>
        
        
    </body>
    
{% endblock %}
