<!doctype html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Schedule</title>
        <link rel="stylesheet" href="{% static 'css/schedule.css' %}?v=9.0">
        <link rel="icon" type="image/png" href="{%  static 'logoIcon.ico' %}">
    </head>
    <body>
        {% if request.user.role == 'mentor' %}
            {% include 'mentor_taskbar.html' %}
        {% else %}
            {% include 'taskbar.html' %}
        {% endif %}
        <div class = "page-content">
        {% block content %}
            <h1>Booked Sessions</h1>

            {% if bookings %}
                <ul class="bookings-list">
                    {% for booking in bookings %}
                        <li class="booking-card">
                            <p><strong>Date: </strong><span class="booking-date">{{ booking.date }}</span></p>
                            <p><strong>Skill:</strong> {{ booking.mentor.skill | capfirst }}</p>
                            <p><strong>Mentor:</strong> {{ booking.mentor.first_name }} {{ booking.mentor.last_name }}</p>
                            <p><strong>Client:</strong> {{ booking.client.first_name }} {{ booking.client.last_name }}</p>
                            <p><strong>Time:</strong> {{ booking.start_time }} to {{ booking.end_time }}</p>
                            <p><strong>Modality:</strong> {{ booking.modality | capfirst }}</p>
                            <p><strong>Price:</strong> ${{ booking.price }}</p>
                            <p><strong>Current Date:</strong> {{ current_date }}</p>
                
                            {% if current_date > booking.date %}
                                {% if not booking.review_set.exists %}
                                    <a href="{% url 'leave_review' booking_id=booking.booking_id %}">
                                        <button>Leave a Review</button>
                                    </a>
                                {% else %}
                                    <form method="post" action="{% url 'delete_booking' booking_id=booking.booking_id %}">
                                        {% csrf_token %}
                                        <button>Delete Booking</button>
                                    </form>
                                {% endif %}
                            
                            {% elif current_date == booking.date and current_hour > booking.int_end_time %}
                
                                {% if not booking.review_set.exists %}
                                    <a href="{% url 'leave_review' booking_id=booking.booking_id %}">
                                        <button>Leave a Review</button>
                                    </a>
                                {% else %}
                                    <form method="post" action="{% url 'delete_booking' booking_id=booking.booking_id %}">
                                        {% csrf_token %}
                                        <button>Delete Booking</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </li>
                       
                    {% endfor %}
                </ul>
            {% else %}
                <div class="no-booked">
                   <p>No Booked Sessions</p> 
                </div>
            {% endif %}
        {% endblock %}
        </div>
    </body>
</html>
