{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/taskbar.css' %}?v=1.0">
</head>
<body>

<ul>
    <img src="{% static 'logoWhite.png' %}" alt="logo" class="logoWhite">
    <li><a href="{% url 'home' %}">List of Skills</a></li>
    <li><a href="{% url 'home' %}">Chats</a></li>
    <li><a href="{% url 'profile' request.user.username %}">Profile</a></li>
    <li><a href="{% url 'schedule' %}">Schedule</a></li>
    <li><a href="{% url 'logout_view' %}">Logout</a></li>
</ul>

<div id="content">
    {% block content %}{% endblock %}
</div>
{% block scripts %}{% endblock %}

</body>
</html>
