@font-face {
    font-family: 'GI';
    src: url('../font/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GI';
    src: url('../font/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

h1 {
    color: #1d2b8a;
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'GI';
}

div {
    color: #1d2b8a;
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 35px;
    font-family: 'GI';
}

.submit-btn {
    width: 120px;
    padding: 15px;
    background-color: #1d2b8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'GI';
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
