@font-face {
    font-family: 'GI';
    src: url('../font/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body h2 {
    color: #1d2b8a;
    margin: 5% auto;
    font-size: 29px !important;    
    font-family: 'GI';
    text-align: center;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 40px;
}

.form-container {
    text-align: center;
    font-family: 'GI';
    width: 60%;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}


form label {
    display: block;
    font-family: 'GI';
    font-size: 16px;
    /* text-align: center; */
    margin-bottom: 10px;
}


form label[for="review_text"] {
    text-align: left;  /* Align the review label to the left */
}

form label[for="rating"] {
    text-align: center;  /* Align the rating label to the center */
}

form textarea, form select {
    width: 100%;
    font-family: 'GI';
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form textarea {
    resize: vertical;
    height: 200px;  
}

.submit-btn {
    font-weight: normal;
    font-family: 'GI';
    width: 150px;
    padding: 8px;
    background-color: #1d2b8a;
    color: white;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
}

form select {
    width: 50%;  /* Adjust this value to make the select box smaller */
    font-family: 'GI';
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
