@font-face {
    font-family: 'GI';
    src: url('../font/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GI';
    src: url('../font/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #1d2b8a;
    font-family: 'GI';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.logo {
    width: 175px;
    margin-bottom: 30px;
}

.rectangle {
    background-color: white;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #1d2b8a;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 35px;
}

.register-form {
    width: 100%;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

input {
    width: 100%; 
    max-width: 215px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

.input-group label {
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
    color: #16257a;
}

.input-row {
    display: flex;
    gap: 15px;
}

.input-row .input-group {
    width: 50%;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #1d2b8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'GI';
}

.submit-btn:hover {
    background-color: #16257a;
}

.error-msg {
    color: red;
    margin-top: 15px;
}

.dropdown {
    width: 100%; 
    max-width: 237px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    color: gray;
}