@font-face {
    font-family: 'GI';
    src: url('../font/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GI';
    src: url('../font/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

h1 {
    color: #1d2b8a;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: auto;
    text-align: center;
    font-size: 70px;
    font-family: 'GI';
}

body h2, .my-heading {
    color: #1d2b8a;
    margin-top: 3%;
    margin-bottom: auto;
    margin-left: 5%;
    font-size: 29px !important;    /* Force font size */
    font-family: 'GI';
    text-align: left;
}

.slide-container {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: #1d2b8a;
    scrollbar-width: thin;
    scrollbar-color: #1d2b8a #eee;
}


.slide-label {
    margin-top: 5px;
    font-size: 16px;
    color: #1d2b8a;
    font-weight: normal;
}

.slide-container img {
    width: 330px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.slide-container img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.search-container {
    display:flex;
    align-items: center;
    background-color: #eee;
    border-radius: 30px;
    padding: 8px 15px;
    width: 380px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.search-input {
    font-family: 'GI';
    font-size: 18px;
    color: #777;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.searchlogo {
    width: 15px;
    height: 15px;
}

.search-button {
    display: flex;   
    justify-content: center;
    align-items: center;
    width: 30px;          
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.search-input::placeholder {
    color: #bbb;
    font-family: 'GI';
}

div {
    color: #1d2b8a;
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 35px;
    font-family: 'GI';
}

.fulllogo {
    width: 250px;
    height: 60px;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
